<h1>TIPOS</h1>
<section id="type_of_food">
  <%if @type_of_foods.any? %>
    <% @type_of_foods.each do |type_of_food| %>
      <%= link_to typeoffood.name, typeoffood %><br>
    <% end %>
  <% else %>
    <p>Sem tipos cadastradss.</p>
  <% end %>
</section>
