<h1>RECEITAS</h1>
<%if @recipes.any? %>
  <% @recipes.each do |recipe| %>
    <%= link_to recipe.name, recipe %><br>
    <%= recipe.preference.name %><br>
    <%= recipe.kitchen.name %><br>
    <%= recipe.difficulty %><br>
  <% end %>
<% else %>
  <p>Sem receitas cadastradas.</p>
<% end %>
