<h1>PREFERENCIA</h1>
<section id="preference">
  <%if @preferences.any? %>
    <% @preferences.each do |preference| %>
      <%= link_to preference.name, preference %><br>
    <% end %>
  <% else %>
    <p>Sem preferencias cadastradas.</p>
  <% end %>
</section>
