<h1>COZINHAS</h1>
<section id="kitchens">
  <% if @kitchens.any? %>
    <% @kitchens.each do |kitchen| %>
      <%= link_to kitchen.name, kitchen %><br>
    <% end %>
  <% else %>
    <p>Sem cozinhas cadastradas.</p>
  <% end %>
</section>
